In [64]:
import numpy as np 
import pandas as pd  
import matplotlib.pyplot as plt

# Second highest salary

In [65]:
data = [[1, 100], [2, 200], [3, 300]]
employee = pd.DataFrame(data, columns=['id', 'salary']).astype({'id':'int64', 'salary':'int64'})
employee

   id  salary
0   1     100
1   2     200
2   3     300

In [66]:
def second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:
    salaries = pd.DataFrame(employee['salary'].unique(), columns=['unique_salaries'])
    salaries = salaries.sort_values(by=['unique_salaries'],ascending=False)
    if len(salaries)<=1:
        return pd.DataFrame([None], columns =['SecondHighestSalary']) 
    result = pd.DataFrame(salaries.iloc[1]).T
    result.columns = ['SecondHighestSalary']
    return result

In [67]:
second_highest_salary(employee)

   SecondHighestSalary
1                  200

# Movie rating

In [68]:
data = [[1, 'Avengers'], [2, 'Frozen 2'], [3, 'Joker']]
movies = pd.DataFrame(data, columns=['movie_id', 'title']).astype({'movie_id':'Int64', 'title':'object'})
data = [[1, 'Daniel'], [2, 'Monica'], [3, 'Maria'], [4, 'James']]
users = pd.DataFrame(data, columns=['user_id', 'name']).astype({'user_id':'Int64', 'name':'object'})
data = [[1, 1, 3, '2020-01-12'], [1, 2, 4, '2020-02-11'], [1, 3, 2, '2020-02-12'], [1, 4, 1, '2020-01-01'], [2, 1, 5, '2020-02-17'], [2, 2, 2, '2020-02-01'], [2, 3, 2, '2020-03-01'], [3, 1, 3, '2020-02-22'], [3, 2, 4, '2020-02-25']]
movie_ratings = pd.DataFrame(data, columns=['movie_id', 'user_id', 'rating', 'created_at']).astype({'movie_id':'Int64', 'user_id':'Int64', 'rating':'Int64', 'created_at':'datetime64[ns]'})

print(movies,'\n\n',users,'\n\n',movie_ratings)

   movie_id     title
0         1  Avengers
1         2  Frozen 2
2         3     Joker

    user_id    name
0        1  Daniel
1        2  Monica
2        3   Maria
3        4   James

    movie_id  user_id  rating created_at
0         1        1       3 2020-01-12
1         1        2       4 2020-02-11
2         1        3       2 2020-02-12
3         1        4       1 2020-01-01
4         2        1       5 2020-02-17
5         2        2       2 2020-02-01
6         2        3       2 2020-03-01
7         3        1       3 2020-02-22
8         3        2       4 2020-02-25

In [69]:
def movie_rating(movies: pd.DataFrame, users: pd.DataFrame, movie_rating: pd.DataFrame) -> pd.DataFrame:
    
    user_count = movie_rating.groupby('user_id').size().reset_index(name='rating_count')
    user_count = pd.merge(user_count, users, on='user_id')
    user_count = user_count.sort_values(by=['rating_count', 'name'], ascending=[False, True])
    top_user = user_count.iloc[0]['name']
    
    feb_ratings = movie_rating[(movie_rating['created_at'] >= '2020-02-01') & 
                               (movie_rating['created_at'] <= '2020-02-29')]
    feb_avg = feb_ratings.groupby('movie_id')['rating'].mean().reset_index(name='avg_rating')
    feb_avg = pd.merge(feb_avg, movies, on='movie_id')
    feb_avg = feb_avg.sort_values(by=['avg_rating', 'title'], ascending=[False, True])
    top_movie = feb_avg.iloc[0]['title']
    
    return pd.DataFrame({'results': [top_user, top_movie]})

In [70]:
movie_rating(movies=movies, users=users,movie_rating=movie_ratings)

    results
0    Daniel
1  Frozen 2

# Stock price

In [71]:
data = [['Leetcode', 'Buy', 1, 1000], ['Corona Masks', 'Buy', 2, 10],
        ['Leetcode', 'Sell', 5, 9000], ['Handbags', 'Buy', 17, 30000], 
        ['Corona Masks', 'Sell', 3, 1010], ['Corona Masks', 'Buy', 4, 1000], 
        ['Corona Masks', 'Sell', 5, 500], ['Corona Masks', 'Buy', 6, 1000],
        ['Handbags', 'Sell', 29, 7000], ['Corona Masks', 'Sell', 10, 10000]]

stocks = pd.DataFrame(data, columns=['stock_name', 'operation', 'operation_day', 'price']).astype(
        {'stock_name':'object', 'operation':'object', 'operation_day':'Int64', 'price':'Int64'})

stocks

     stock_name operation  operation_day  price
0      Leetcode       Buy              1   1000
1  Corona Masks       Buy              2     10
2      Leetcode      Sell              5   9000
3      Handbags       Buy             17  30000
4  Corona Masks      Sell              3   1010
5  Corona Masks       Buy              4   1000
6  Corona Masks      Sell              5    500
7  Corona Masks       Buy              6   1000
8      Handbags      Sell             29   7000
9  Corona Masks      Sell             10  10000

In [72]:
def stock_price(stocks: pd.DataFrame) -> pd.DataFrame: 
    gain_loss = {}

    for stock in stocks['stock_name'].unique():
        buy_stack = []  
        total_gain_loss = 0
        stock_data = stocks[stocks['stock_name'] == stock]

        for index, row in stock_data.iterrows():
            if row['operation'] == 'Buy':
                buy_stack.append(row['price'])
            elif row['operation'] == 'Sell' and buy_stack:
                buy_price = buy_stack.pop(0)
                total_gain_loss += (row['price'] - buy_price)

        gain_loss[stock] = total_gain_loss
        
    result_df = pd.DataFrame(list(gain_loss.items()), columns=['stock_name', 'capital_gain_loss'])
    return (result_df)

In [73]:
stock_price(stocks)

     stock_name  capital_gain_loss
0      Leetcode               8000
1  Corona Masks               9500
2      Handbags             -23000